@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mesh-gradient-bg {
  background-color: #fff9eb;
  background-image:
    radial-gradient(at 0% 0%, #C9B6E4 0px, transparent 60%),
    radial-gradient(at 80% 0%, #B8CFD6 0px, transparent 60%),
    radial-gradient(at 100% 100%, #B8CFD6 0px, transparent 60%),
    radial-gradient(at 0% 100%, #B8CFD6 0px, transparent 60%),
    radial-gradient(at 50% 50%, #FAD0B1 0px, transparent 40%);
  background-attachment: fixed;
}